*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
:focus{
    outline: none;
}
body{
    font-family: 'Open Sans', sans-serif;
}
header{
    transition: all .5s ease;
    width:100%;
    z-index:9999;
    position: fixed;
    top:0;
    background: rgba(0, 0, 0, 1);
    
    
}
@font-face {
    font-family:'theboldfont';
    src: url("/fonts/theboldfont.ttf");
}

.cajamenu{
    width:100%;
    margin: auto;
    max-width: 1400px;
    
}
nav{
    height:70px;
    width:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.cajalogo{
    display:inline-block;
    margin-top: 0.8em;
    margin-left: 10%;
    width:150px;
    height:auto;
}
.cajalogo img{
    max-width:100%;
    object-fit: contain;
}

nav #icon{
    color:white;
    font-size: 40px;
    float:right;
    margin-right: 40px;
    display: none;
}


.cajaicono{
    width: 40px;
    height:40px;
    float:right;
    margin-right: 40px;
    display: none;
    margin-top:1em;
    
}
.try{
    
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;

}
.hamburguesa{
    height: 15%;
    width: 100%;
    
    
}
.hamburguesa:after, .hamburguesa:before, .hamburguesa{
    position:absolute;
    width: 100%;
    content:'';
    background-color: #fff;
    transition: .5s;

}
.hamburguesa:after{
    height:100%;
    top:10px;
    
}
.hamburguesa:before{
    height:100%;
    top:-10px;
    
}
.cruz{
    transition: .5s;
    transform: rotateZ(45deg);
}
.cruz:before{
    transition: .5s;
    top:0px;
    transform:rotateZ(90deg)
}
.cruz:after{
    transition: .5s;
    top:0px;
    transform:rotateZ(0deg)
}
nav .ulmenu{
    float: right;
    margin-right: 5%;
    
}
nav .ulmenu .limenu{
    display: inline-block;
    margin-top: 30px;
    margin-right: 8px;
    margin-left: 8px;
    
}
nav .ulmenu ul{
    display:none;
}
nav .ulmenu .limenu:hover ul{
    display:block;
    position:absolute;
    margin-top: 20px;
 
}
nav .ulmenu .limenu ul a{
    display:block;
    padding: 15px 20px;
    color:#fff;
    text-decoration: none;
    background: #222222;
}
.down{
    display:none;
    color:#3FEA50;
    text-decoration: none;
    font-size:25px;   
}

nav .ulmenu .limenu ul a:hover{
    background:#3FEA50;
}
.limenu .amenu{
    color:#fff;
    font-size: 1em;
    padding: 25px 10px;
    
}
.amenu.active,.amenu:hover{
    background: #3FEA50;
    transition:  .5s, ease-in-out;
}

/*
<label id="icon">
                    <i class="fas fa-bars"></i>
                </label>
                */

@media (max-width:1069px){
    nav #icon{
        display:block;
     }
     header{
        background: rgba(0, 0, 0, 0.9);
     }
     nav .ulmenu{
         position:fixed;
         width: 100%;
         height: 100vh;
         top:70px;
         left:-100%;
         text-align: center;
         transition: all .5s;
          /* fallback for old browsers */
          background: -webkit-linear-gradient(to right, #3fea50, #45f48e);
          /* Chrome 10-25, Safari 5.1-6 */
          background: linear-gradient(to right, #3fea50, #45f48e);
          /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
         
     }
     .ulmenu .limenu{
         display: flex;
         flex-direction: column;
         line-height: 0px;
         width:100%;
         margin:auto!important;
         border-style: solid;
        border-width: 0 0 1px ;
        border-color: #fff;

     }
     .limenu .amenu{
         display: block;
         padding: 1.5em 0;
         text-align: left;
         padding-left: 30px;
     }
     nav .ulmenu.show{
         left:0%;

     }
     .cajalogo{
         width:130px;
     }
     .cajaicono{
         display: flex;
         flex-direction: row;
         align-items: center;
         justify-content: center;
     }
     nav .ulmenu .limenu:hover ul{
        display:none;
        position: static;
        margin-top: 0;
    }
    nav .ulmenu .limenu ul a{
        margin:auto!important;
        border-style: solid;
       border-width: 0 0 1px ;
       border-color: #fff;
       padding:1.2em 0;
       text-align: left;
         padding-left:60px;
       
    }
    .cajadown{
        display:flex;
        width:40%;
        text-align: center;
        box-sizing: border-box;
        padding:15px;
        cursor: pointer;
        
    } 
    .down{
        display:block;
        color: #fff;
        text-align: center;
        width:100%;
    }
    .servmenu{
        display:flex;
        flex-direction: row;
    }
    .servmenu a{
        display:flex;
        width:60%;
    }
    
    
    
}

/*-------------------CONTACTO--------------------------------------------------*/
.contenedorcontacto{
    width:100%;
    max-width:1600px;
    height: auto;
    display:flex;
    justify-content: center;
    background-image: url("/imagenes/motobg.jpg");
    background-size: cover;
    margin-top:70px;
    
}
.cajainteriorcontacto{
    width:100%;
    margin:0 auto;
    height: auto;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}
.titulocontacto{
    width:90%;
    margin-top: 50px;
  
}
.titulocontacto h1{
    text-align:center;
    color:#fff;
    font-family: 'theboldfont', sans-serif;
    
}


.cajatextocontacto{
    width:35%;
    display:flex;
    flex-wrap: wrap;
    align-content: space-around;
    height:auto;
    
}
.mapa{
    width:100%;
    display:block;
   
}
.mapa h1{
    color:#fff;
    text-align:center;
    margin:10px;
    font-family: 'theboldfont', sans-serif;
    
}
iframe{
    width: 90%;
    height:500px;
    display:flex;
    margin:20px auto 0 auto;
}
.cajatextoyredes{
    width:100%;
    background-image: url("/imagenes/motobg.jpg");
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
    padding-bottom: 50px;
}
.cajatex{
    width:50%;
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.cajatextoredes{
    width:70%;
}
.textoredes{
    color:#fff;
    font-size: 30px;
    text-align: center;
    font-family: 'theboldfont', sans-serif;
}
.textoredes span{
    color:#3fea50;
}
.cajaredes{
    width:40%;
    margin:0 auto;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;

}


@media (max-width:1024px){
    .titulocontacto{
        font-size: 1em;
        height: auto;
        padding-top:20px;
    padding-bottom: 20px;
    }
    .cajaformulario{
        width:90%;
        margin-top: 0;
    }
    .cajatextocontacto{
    width:90%;
    margin-top:30px;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    }
    .mapa{
        margin-top:0;
    }
    .lineacontacto{
    justify-content: center;
    }
    .contenedorcontacto{
        width:100%;
        height: auto;
        display:flex;
        justify-content: center;
        
        
    }
    .cajatex{
        width:90%;
        margin:30px auto 50px auto;
        
    }
    .cajatextoredes{
        width:100%;
    }
    .textoredes{
        color:#fff;
        font-size: 30px;
        text-align: center;
    }
    .textoredes span{
        color:#3fea50;
    }
    .cajaredes{
        width:100%;
        margin:0 auto;
        display:flex;
        flex-wrap:wrap;
        justify-content: space-evenly;
    
    }
    
}

/*---------------STYLEFORM----------*/

/* FORMULARIO =================================== */
.cajaformulario{
    width:50%;
    display:flex;
    height:auto;
    align-items:flex-start;
}
.cajaformulario .form_wrap{
    width: 65%;
    margin: 50px auto;
    height: auto;
    display: flex;
    background: #fff;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

@media (max-width:1024px){
    .cajaformulario{
        width:90%;
        height:auto;
    }
    .cajaformulario .form_wrap{
     width:90%;   
    }
    
}

/* Formulario de contacto*/
form.form_contact{
    width: 90%;
    padding: 30px 40px;
    margin: 30px auto 0 auto;
}

form.form_contact h2{
	font-size: 25px;
	font-weight: 600;
	color:#3FEA50;
    margin-bottom: 70px;
    text-align: center;
    font-family: 'theboldfont', sans-serif;
}

form.form_contact .user_info{
    display: flex;
    flex-direction: column;
}

form.form_contact input,
form.form_contact textarea{
    width: 100%;
    padding: 8px 0px 5px;
    margin-bottom: 40px;

    border: none;
    border-bottom: 2px solid #D1D1D1;

    font-family: 'Raleway', sans-serif;
	color: #5A5A5A;
	font-size: 14px;
	font-weight: 400;
}
form.form_contact input::placeholder{
    color:#3FEA50;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
}
form.form_contact textarea::placeholder{
    color:#3FEA50;
    font-size:16px;
    font-family: 'Raleway', sans-serif;
}

form.form_contact textarea{
    max-width: 100%;
    min-width: 100%;
    height: 90px;
}

form.form_contact input[type="submit"]{
    width: 180px;
	background: #3FEA50;
	padding: 20px 15px;
	border: none;
	border-radius: 250px;
    align-self:center;
    color: #fff;
	font-family: 'theboldfont', sans-serif;
	font-size: 16px;
	font-weight: 600;
	cursor: pointer;
}

form.form_contact input[type="submit"]:hover{
    background: #3371B6;
}

/* Ventana de errores*/
.modal_wrap{
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.7);

    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;

    display: flex;
    justify-content: center;
    align-items: center;
}

.mensaje_modal{
    background: #fff;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
    width: 400px;
    padding: 30px 20px 15px;
}

.mensaje_modal h3{
    text-align: center;
    font-family: 'Ubuntu';
	font-size: 20px;
	font-weight: 400;
}

.mensaje_modal h3:after{
    content: '';
	display: block;
	width: 100%;
	height: 1px;
	background: #C5C5C5;
	margin: 10px 0px 15px;
}

.mensaje_modal p{
    font-size: 16px;
    color: #606060;
}

.mensaje_modal p:before{
    content: "\f00d";
    font-family: FontAwesome;
    display: inline-block;
    color: #E25151;
    margin-right: 8px;
}

#btnClose{
    display: inline-block;
	padding: 3px 10px;
	margin-top: 10px;

	background: #E25151;
	color: #fff;
	border: 2px solid #B14141;
	cursor: pointer;

	/* float: right; */
}

/* MENSAJE EXITOSO*/

.mensaje-exito{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mensaje-exito h1{
    font-size: 35px;
    display: block;
    text-align: center;
    margin-bottom: 20px;
}

.mensaje-exito a{
    display: block;
    padding: 10px 30px;
    background: #4091EC;
    text-decoration: none;
    color: #fff;
}

.mensaje-exito a:hover{
    background: #3371B6;
}


