*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/*-------------------CONTACTO-----------*/
.contenedorcontacto{
    width:100%;
    max-width:1600px;
    height: auto;
    display:flex;
    justify-content: center;
    background-image: url("./imagenes/motobg.jpg");
    background-size: cover;
    
}
.cajainteriorcontacto{
    width:100%;
    margin:0 auto;
    height: auto;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}
.titulocontacto{
    width:90%;
    margin-top: 50px;
  
}
.titulocontacto h1{
    text-align:center;
    color:#fff;
    font-family: 'theboldfont', sans-serif;
    
}


.cajatextocontacto{
    width:35%;
    display:flex;
    flex-wrap: wrap;
    align-content: space-around;
    
}
.mapa{
    width:100%;
    display:block;
    margin-top:90px;
}
.mapa h1{
    color:#fff;
    text-align:center;
    margin:10px;
    
}
iframe{
    width: 90%;
    height:300px;
    display:flex;
    margin:20px auto 0 auto;
}
.cajatextointerior{

}
.lineacontacto{
    width:90%;
    margin:auto;
    text-align: center;
    margin-top:20px;
    display: flex;
    align-items: center;
}
.lineacontacto img{
    width: 50px;
}
.lineacontacto h3{
    color:#fff;
    font-size: 20px;
    width:60%;
    
}
.cajahorario{
    padding: 30px 30px;
    width:100%;
    text-align:left;
    box-sizing: border-box;
   
}
.cajahorario h1{
    font-size:20px;
    color:#fff;
}
.cajahorario h2{
    font-size:16px;
    color:#fff;
    margin-top:1em;
}
.tarjetas{
    box-sizing: border-box;
    text-align: center;
    margin: 0px 30px;

}
.tarjetas h1{
    font-size:20px;
    color:#fff;
}
.fototarjetas{
    width:90%;
    margin:20px auto 0 auto;
    
}
.fototarjetas img{
    width: 80%;
}

@media (max-width:1024px){
    .titulocontacto{
        font-size: 1em;
        height: auto;
        padding-top:20px;
    padding-bottom: 20px;
    }
    .cajaformulario{
        width:90%;
        margin-top: 0;
    }
    .cajatextocontacto{
    width:90%;
    margin-top:0px;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    }
    .mapa{
        margin-top:0;
    }
    .lineacontacto{
    justify-content: center;
    }
    .contenedorcontacto{
        width:100%;
        height: auto;
        display:flex;
        justify-content: center;
        background-image: url("./imagenes/motobg.jpg");
        background-size: cover;
        
    }
    .tarjetas{
        margin: 20px auto 10px auto;
        box-sizing: border-box;
    }
    .cajahorario{
        width: 100%;
       padding: 30px 0px;
box-sizing:border-box;
    }
}

/*---------------STYLEFORM----------*/

/* FORMULARIO =================================== */
.cajaformulario{
    width:50%;
    display:flex;
    height:auto;
    align-items:flex-start;
}
.cajaformulario .form_wrap{
    width: 65%;
    margin: 50px auto;
    height: auto;
    display: flex;
    background: #fff;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

@media (max-width:1024px){
    .cajaformulario{
        width:90%;
        height:auto;
    }
    .cajaformulario .form_wrap{
     width:90%;   
    }
    
}

/* Formulario de contacto*/
form.form_contact{
    width: 90%;
    padding: 30px 40px;
    margin: 30px auto 0 auto;
}

form.form_contact h2{
	font-size: 25px;
	font-weight: 600;
	color:#3FEA50;
    margin-bottom: 70px;
    text-align: center;
    font-family: 'theboldfont', sans-serif;
}

form.form_contact .user_info{
    display: flex;
    flex-direction: column;
}

form.form_contact input,
form.form_contact textarea{
    width: 100%;
    padding: 8px 0px 5px;
    margin-bottom: 40px;

    border: none;
    border-bottom: 2px solid #D1D1D1;

    font-family: 'Raleway', sans-serif;
	color: #5A5A5A;
	font-size: 14px;
	font-weight: 400;
}
form.form_contact input::placeholder{
    color:#3FEA50;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
}
form.form_contact textarea::placeholder{
    color:#3FEA50;
    font-size:16px;
    font-family: 'Raleway', sans-serif;
}

form.form_contact textarea{
    max-width: 100%;
    min-width: 100%;
    height: 90px;
}

form.form_contact input[type="submit"]{
    width: 180px;
	background: #3FEA50;
	padding: 20px 15px;
	border: none;
	border-radius: 250px;
    align-self:center;
    color: #fff;
	font-family: 'theboldfont', sans-serif;
	font-size: 16px;
	font-weight: 600;
	cursor: pointer;
}

form.form_contact input[type="submit"]:hover{
    background: #3371B6;
}

/* Ventana de errores*/
.modal_wrap{
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.7);

    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;

    display: flex;
    justify-content: center;
    align-items: center;
}

.mensaje_modal{
    background: #fff;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
    width: 400px;
    padding: 30px 20px 15px;
}

.mensaje_modal h3{
    text-align: center;
    font-family: 'Ubuntu';
	font-size: 20px;
	font-weight: 400;
}

.mensaje_modal h3:after{
    content: '';
	display: block;
	width: 100%;
	height: 1px;
	background: #C5C5C5;
	margin: 10px 0px 15px;
}

.mensaje_modal p{
    font-size: 16px;
    color: #606060;
}

.mensaje_modal p:before{
    content: "\f00d";
    font-family: FontAwesome;
    display: inline-block;
    color: #E25151;
    margin-right: 8px;
}

#btnClose{
    display: inline-block;
	padding: 3px 10px;
	margin-top: 10px;

	background: #E25151;
	color: #fff;
	border: 2px solid #B14141;
	cursor: pointer;

	/* float: right; */
}

/* MENSAJE EXITOSO*/

.mensaje-exito{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mensaje-exito h1{
    font-size: 35px;
    display: block;
    text-align: center;
    margin-bottom: 20px;
}

.mensaje-exito a{
    display: block;
    padding: 10px 30px;
    background: #4091EC;
    text-decoration: none;
    color: #fff;
}

.mensaje-exito a:hover{
    background: #3371B6;
}